$white: #ffffff;
$light: #FEFEFE;
$bg: #DFF0FF;
$very-dark-blue: #002d40;
$dark-blue: #1E4B5E;
$cyan: #11d7ff;
$yellow: #feefa8;
$orange: #F78D14;
$border-dark: #0A374A;

$font-main: 'FiraSans', sans-serif;
$heading: 800;

//$desktop: 1119;
//$tablet: 1023;
$mobile: 1199;
