.article-game-card {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__picture {
    display: flex;
    width: 100%;
    height: 141px;
    border-radius: 20px;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__text {
    font-size: 18px;
    font-weight: 600;
    line-height: 28.8px;
    color: $very-dark-blue;
  }
}