.upcoming {
  display: grid;
  grid-template-columns: 1fr 1060px;
  gap: 20px;

  @include r($mobile) {
    display: flex;
    flex-direction: column;
  }

  .slider {
    @include r($mobile) {
      width: 100vw;
      margin-left: -20px;
      margin-right: -20px;
    }
  }
}